body {
  background-color: powderblue;
}
h1 {
  color: #121212;
}
h1 {
    margin: 10px 10px 10px 10px;
}
p {
  color: red;
}
p {
  margin: 10px 10px 10px 10px;
}
img {
    margin: 10px 10px 10px 10px;
}

