body {
  background-color: powderblue;
}
h1 {
  color: blue;
}
h1 {
    margin: 50px 50px 25px 100px;
}
p {
  color: red;
}
p {
  margin: 25px 50px 75px 100px;
}
img {
    margin: 25px 50px 75px 100px;
}

